@font-face {
       font-family: '18601';
       font-weight: normal;
       font-style: normal;
       src: url(shrift/18601.otf);
     }
     @font-face {
       font-family: '17860';
       font-weight: normal;
       font-style: normal;
       src: url(shrift/17860.ttf);
     }
     
   
   
   
     @font-face {
       font-family: '17719';
       font-weight: normal;
       font-style: normal;
       src: url(shrift/17719.ttf);
     }
   
     @font-face {
       font-family: '17607';
       font-weight: normal;
       font-style: normal;
       src: url(shrift/17607.otf);
     }

h1{
  font-size: 100px;
  color:white;
  text-align: center;
  font-family: '18601';
}





.flex {
	display: flex;

    overflow:hidden; /*скроем тень*/
    padding-top: 30px;
}
.item {
	height:200px;

	flex:10%; /* = flex-basis:20%; */

	transition: flex 200ms ease;

	box-shadow: 0 0 19px 3px #000; margin: 1px; /* красивости тени */
}
.item:hover {
 	flex: 0.1 0.1 400px;
    background-size: 100% 100%;
    
}


.img1 { background: url('fotodoom/history/1993.kiYy8.jpg') 0 0 no-repeat;border-radius: 5px; }
.img2 { background: url('fotodoom/history/dom3.V1RPd.jpg') 0 0 no-repeat;border-radius: 5px; }
.img3 { background: url('fotodoom/history/doom16.53aMW.jpg') 0 0 no-repeat;border-radius: 5px; }
.img4 { background: url('fotodoom/history/doometer.ATtDG.jpg') 0 0 no-repeat; border-radius: 5px;}


/* текстовая область */
.img5 { background: url('fotodoom/history/1993_1.UHMXs.jpg') 0 0 no-repeat;border-radius: 5px; }
.img6{ background: url('fotodoom/history/1993_2.lC0lT.jpg') 0 0 no-repeat;border-radius: 5px; }
.img7 { background: url('fotodoom/history/doom16.53aMW.jpg') 0 0 no-repeat;border-radius: 5px; }



.img8 { background: url('fotodoom/history/doometer.ATtDG.jpg') 0 0 no-repeat; border-radius: 5px;}

.flex2 {
	display: flex;

    overflow:hidden; /*скроем тень*/
    padding-top: 30px;
}
.item2 {
	height:400px;

	flex:10%; /* = flex-basis:20%; */

	transition: flex 200ms ease;

	box-shadow: 0 0 19px 3px #000; margin: 1px; /* красивости тени */
}
.item2:hover {
 	flex: 0.1 0.1 400px;
    background-size: 100% 100%;
    
}



.gl1{
    font-size: 60px;
 
   
    padding-top: 25px;
    font-family: '18601';
}
.gl2{
       font-size: 60px;
    
      
       padding-top: 25px;
       font-family: '18601';
   }
.gl3{
       font-size: 60px;
    
      
       padding-top: 25px;
       font-family: '18601';
   }
.gl4{
       font-size: 60px;
    
       
       padding-top: 25px;
       font-family: '18601';
   }
.gla{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
}






h2{
       text-align: center;
       color: white;
       font-size: 35px;
       font-family: '17719';
}

.text{
font-size: 20px;
color: white;
font-family: '17607';
background-color: rgba(0, 50, 50, 0.5)
}

.back{
        
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-size: 30px;
       font-weight: bold;
       margin-right: 15px;
       font-family: '18601';
   }


   .img28 {
   
       background: url('fotodoom/history/1993.fHdJ0.jpg') ;
       height: 300px;
       width: 600px;
       display:block;
       margin:auto;
        padding-bottom: 30px;
        border-radius: 10px;
      }
