
    .btn {
        width: 120px;
        height: 120px;
        background: #5E1DA7;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        user-select: none;
        color: #c8dfff;
        font-size: 32px;
        
    }
    .new{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-right: 15px;
        background-color: #5E1DA7;
        
        border-radius: 5px;
        
    }
    
 
    .btn:hover {
        background: #c8dfff;
        color: #5E1DA7;
        
        
    }
 
    #calc-wrap {
        padding: 20px;
        width: 97%;
        text-align: center;
        background: white;
       border-radius: 20px;
        border: 2px solid black;
    }
 
    #calc {
        width: 480px;
        display: inline-block;
        border-radius: 5px;
        border: 2px solid black;
    }
 
    #inputVal {
        width: 99%;
        border: 0;
        font-size: 25px;
        resize: vertical;
        background: #c8dfff;
    }


    .h1{
        font-size: 32px;
        padding-left: 600px;
        
    }
    footer{
        background-color: #c8dfff;
        margin-top: 30px;
    }

     footer p{
         
         font-size: 20px;
         color:#5E1DA7;
         text-align: center;
     }

     .back {
        text-decoration: none;
        text-transform: uppercase;
        color: #5E1DA7;
        font-size: 20px;
        font-weight: bold;
        margin-right: 15px;
        border: 2px solid white;
        }
    