
head{

}
body{

}

@font-face {
  font-family: 'Art-Nouveau-1900';
  font-weight: normal;
  font-style: normal;
  src: url(shrift/Art-Nouveau-1900.ttf);
}
@font-face {
   font-family: 'PH 400 Caps';
   font-weight: normal;
   font-style: normal;
   src: url(shrift/ofont.ru_Karl\ Brendler.ttf);
 }
 .part{
   font-size: 30px;
   font-family:'PH 400 Caps';
   color: whitesmoke;
   text-align: center;
 }
 .a1{
   display: inline; /* Отображать как строчный элемент */
   margin-right: 5px; /* Отступ слева */
   border: 1px solid #000; /* Рамка вокруг текста */
   padding: 3px; /* Поля вокруг текста */
    background-image: url(https://tambov.freski.shop/uploads/mural/jpg/6e66aa24-6c5c-45fd-bc49-63742a8af90a.jpg);
 }


h1 {
    width: 260px;
    font-family:'PH 400 Caps';
    font-size: 36px;
    line-height: 36px;
    text-align:left;
    color:whitesmoke
  }
 h2{
    font-size: 100px;
   font-family:'PH 400 Caps';
   text-align:center;
   color:whitesmoke;
   background-color: #767766;
   background-image: url(https://img3.goodfon.ru/original/1920x1080/c/a4/cvety-pestryy-uzor.jpg);
   
   
 } 
.avtor{
    text-align:center;
    font-family:'PH 400 Caps';
    font-size: 40px;
    font-weight: bolder;
    color:white;
    background-color: #3a7781 ;
    background-image: url(https://avatars.mds.yandex.net/get-pdb/992060/ddf5df8a-d33e-4855-b1c7-b0a749aff940/s1200);
    
 }

 .textt{
    font-family:'PH 400 Caps';
    font-size: 30px;
    color: white;
    background-color: #3a7781;
    background-image: url(https://zakazposterov.ru/fotooboi/z/fotooboi-507-170-hohloma-zakazposterov-ru_z.jpg);
 }
 



  table{
    border-collapse: collapse;  
    font-size: 20px;
    border: 1px solid lightcyan;
    font-family:'PH 400 Caps';
    
 }
 caption{
    color:rgb(255, 251, 251);
    font-size: 30px;
    font-family:'PH 400 Caps';
    text-align:center;
    padding-bottom: 50px;
 }
 td{
    border: 1px solid lightcyan;  
 }
 .verh2{
    font-size: 25px;
    text-align:center;
color:whitesmoke;
background-color: #767766;
background-image: url(https://cdn.wallpapersafari.com/48/95/WO2n1G.jpg);
 }

 .verh1{
    font-size: 25px;
    text-align:center;
color:white;
background-color:#3a7781;
background-image: url(https://yt3.ggpht.com/a/AGF-l7_nrEPod4BSwVkYDohq9lozAcrnA9XFTgS-uA=s900-c-k-c0xffffffff-no-rj-mo);
 }

 .herou{
     padding-top: 15px;
     padding-bottom: 15px;
     padding-right: 80px;
    font-family:initial;
    color:whitesmoke;
    background-color: #767766;
    background-image: url(https://cdn.wallpapersafari.com/48/95/WO2n1G.jpg);
 }
 .opis{
    color:white;
    background-color: #3a7781;
    background-image: url(https://yt3.ggpht.com/a/AGF-l7_nrEPod4BSwVkYDohq9lozAcrnA9XFTgS-uA=s900-c-k-c0xffffffff-no-rj-mo);
 }
.foto{
    width:300px;
    height:400px;
}
.foto2{
    width:300px;
    height:400px;
    padding-left:270px;
}
.foto3{
    width: 50%;;
    height:100%;
}