

h2{
text-align: center;
}

 form {
    width: 300px;
   margin: auto;
    padding: 70px 20px 90px 20px ;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
    background-image: ;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input,
    button {
    font-family: "Roboto", sans-serif;
    
    border-radius: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
    width: 95%;
    height: 24px;
    margin-bottom: 10px;
    padding: 2px 5px;
    
    border: 1px solid #cccccc;
    }
    
    input[type="submit"],
    button {
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    
    color: #ffffff;
    
    background-color: #2c3e50;
    border: none;
    }
    
    button > img {
    margin-left: 10px;
    
    vertical-align: middle;
    }
    
    .buttons {
    margin-top: 10px;
    
    text-align: center;
    }